@import "colors";

html {
  font-size: 15px;
}

body {
  background-color: $very-dark-blue;
  font: {
    family: "Inter", sans-serif;
    weight: 400;
  }
  text-align: center;
}

main {

  .card {
    background-color: $dark-desaturated-blue;
  }

  .main-heading {
    color: $white;
    font-weight: 700;
  }

  .emph {
    color: $soft-violet;
  }

  .main-paragraph {
    color: $slightly-transparent-white-main-paragraph;
  }

  .stat {
    color: $white;
    font-weight: 700;
  }

  .stat-heading {
    color: $slightly-transparent-white-stat-headings;
    font: {
      family: "Lexend Deca", sans-serif;
      weight: 400;
    }
  }

}

footer {

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: $footer-blue;
  }

}