@import "colors";

$extra-large: 1200px;

html {
  font-size: 15px;
}

* {
  margin-top: 0;
}

body {
  background-color: $very-dark-blue;

  font: {
    family: "Inter", sans-serif;
    weight: 400;
  }

  margin: 0;
  text-align: center;
  padding: 0;

  @media screen and (min-width: $extra-large) {
    text-align: left;
  }
}

main {
  .card {
    background-color: $dark-desaturated-blue;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    margin: 6rem auto;
    overflow: hidden;
    width: 22rem;

    @media screen and (min-width: $extra-large) {
      flex-direction: row-reverse;
      margin: 12rem auto;
      width: 74rem;
    }
  }

  .image-area {
    position: relative;

    .image-header {
      display: block;
      width: 100%;
    }

    .tinting {
      background-color: $soft-violet-tint;
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .text-area {
    box-sizing: border-box;
    padding: 2.3333rem 2.3333rem 0.8rem;

    @media screen and (min-width: $extra-large) {
      padding: 4.6667rem 7.6667rem 0 5rem;
      width: 51.35%;
    }

    .main-heading {
      color: $white;

      font: {
        weight: 700;
        size: 1.8rem;
      }

      margin-bottom: 1rem;

      @media screen and (min-width: $extra-large) {
        font-size: 2.4rem;
        line-height: 1.23;
        margin-bottom: 1.6667rem;
      }
    }

    .emph {
      color: $soft-violet;
    }

    .main-paragraph {
      color: $slightly-transparent-white-main-paragraph;
      line-height: 1.675;
      margin-bottom: 2.6667rem;

      @media screen and (min-width: $extra-large) {
        margin-bottom: 4.8rem;
      }
    }

    .stat-row {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: $extra-large) {
        flex-direction: row;
        justify-content: space-between;
      }

      .stat-col {
        margin-bottom: 1.0667rem;

        .stat {
          color: $white;

          font: {
            weight: 700;
            size: 1.6rem;
          }

          margin-bottom: 0.4667rem;
        }

        .stat-heading {
          color: $slightly-transparent-white-stat-headings;
          letter-spacing: 0.0667rem;

          font: {
            family: "Lexend Deca", sans-serif;
            size: 0.8rem;
            weight: 400;
          }
        }
      }
    }
  }
}

footer {
  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: $footer-blue;
  }
}